@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');


html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color:rgb(29,29,31);
  letter-spacing: -0.05em;
  background-color: #fff;
}

p {
  line-height: 1.6;
}
a {
  color:rgb(29,29,31);
  text-decoration: none;
}

body.before-load {
  overflow: hidden;
}
/* 헤더 */

.global-nav {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding:0 1rem;
}
.local-nav {
  position: absolute;;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding:0 1rem;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255,255,255,0.1);
  backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin:0 auto;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links a {
  font-size: 0.8rem;
}
.local-nav-links .product-name {
  margin-right: auto;  /*margin을 auto로 하면 남은 여백을 싹 채워준다는 의미*/
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}


/* 섹션 0*/
.scroll-section {
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 h1{
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;  /* 폰트사이트 = 14px x 4 */
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;  /*여기 폰트사이즈의 3배*/
  font-size: 2.5rem;
  opacity:0;
}
.main-message p {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}


/* 섹션 1 */
.description {
  max-width: 1000px;
  margin:0 auto;
  font-size: 1.2rem;
  color: #888;
  padding:0 1rem;
}
.description strong {
  float:left;
  margin-right: 0.2em;
  font-size: 3rem;
  color:rgb(29,29,31);
}


/* 섹션 2 */
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
#scroll-section-2 .b {
  top:10%;
  left: 40%;
}
#scroll-section-2 .c {
  top:15%;
  left: 45%;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}
.pin {
  width: 1px;
  height: 100px;
  background: rgb(29,29,31);
}


/* 섹션 3 */
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-message {
  width: 1000px;
  margin:0 auto;
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
}
.mid-message strong {
  display: block;
  color:rgb(29,29,31);
}
.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding:0 1rem;
  font-size: 1.2rem;
  color: #888;
}


/* 푸터 */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background:darkorange;
  color:#fff;
}


/* sticky-elem 제어 */
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas.sticky{
  position: fixed;
  top: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {transform: rotate(360deg);}
}
@keyframes loading-circle-ani {
  0%{ stroke-dashoffset: 157;}
  75%{ stroke-dashoffset: -147;}
  100%{ stroke-dashoffset: -157;}
  
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stoke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
}



/* 데스크탑 반응 */
@media (min-width:1024px) {
  #scroll-section-0 h1{
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
    padding: 0;
  }
  .description strong {
    font-size: 6rem;
  }
  
  /* 섹션 2 */
  #scroll-section-2 .main-message {
    font-size: 6vw
  }
  #scroll-section-2 .b {
    top:20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }

  /* 섹션 3 */
  .mid-message {
    font-size: 4vw;
    padding: 0;
  }
  .canvas-caption {
    font-size: 2rem;
    padding: 0;
  }
}